# The "Friendly Name" you assign to your AVR, used to find it on the network.
export DENON_NAME="Denon AVR"

# The IP Address of your AVR, you can use this instead of the DENON_NAME variable.
# export DENON_IP="10.0.10.20"

# Maximum time in milliseconds to search for your Denon device.
export DENON_SEARCH_TIMEOUT=10000

# The input source on your Denon AVR that the Sonos Port is connected to.
export DENON_SONOS_INPUT_SOURCE="CD"

# The "Friendly Name" you have named your Sonos Port, used to find it on the network.
export SONOS_NAME="Living Room"

# The IP Address of your Sonos Port, you can use this instead of the SONOS_NAME variable.
# export SONOS_IP="10.0.10.30"

# Maximum time in milliseconds to search for your Sonos Port.
# export SONOS_SEARCH_TIMEOUT=10000 # Optional

# Use to tweak the sync amount of the Denon volume and Sonos Port. Negatives allowed.
export VOLUME_MULTIPLIER=1.0 # TODO

export LOG_LEVEL=DEBUG