## Denon
# The "Friendly Name" you assign to your AVR, used to find it on the network.
export DENON_NAME="Denon AVR"

# The IP Address of your AVR, you can use this instead of the DENON_NAME variable.
# export DENON_IP="10.0.10.20"

# Maximum time in milliseconds to search for your Denon device.
export DENON_SEARCH_TIMEOUT=10000

# The input source on your Denon AVR that the Sonos Port is connected to.
export DENON_SONOS_INPUT_SOURCE="CD"

# The multiplier to apply to the volume level of the Denon AVR when volume is changed on the Sonos Port. Negatives are allowed.
# 1.0 = 100% volume, 0.5 = 50% volume, -1.0 = -100% volume
# export DENON_VOLUME_MULTIPLIER=1.0

## Sonos
# The "Friendly Name" you have named your Sonos Port, used to find it on the network.
export SONOS_NAME="Living Room"

# The IP Address of your Sonos Port, you can use this instead of the SONOS_NAME variable.
# export SONOS_IP="10.0.10.30"

# Maximum time in milliseconds to search for your Sonos Port.
# export SONOS_SEARCH_TIMEOUT=10000 # Optional

# The multiplier to apply to the volume level of the Sonos Port when volume is changed on the Denon AVR. Negatives are allowed.
# 1.0 = 100% volume, 0.5 = 50% volume, -1.0 = -100% volume
# export SONOS_VOLUME_MULTIPLIER=1.0

## General
export LOG_LEVEL=DEBUG